<style>
    #table {
        margin-top:200px;
    }
    #table input, #table button {
        margin: 5px;
    }
    #table, #table button {
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }
</style>

<form method=post>
    <input type=hidden name=login>
    <table id="table">
        <tr>
            <td>Name</td>
            <td><input class="form-control" type=input name=user></td>
        </tr>
        <tr>
            <td>Pass</td>
            <td><input class="form-login.html.twigcontrol" type=password name=modular_password></td>
        </tr>
        <tr>
            <td colspan="2"><button class="btn btn-primary" type=submit>Login</button></td>
        </tr>
    </table>
</form>
