<style>
    #div404{
        font-size:200px;
        text-align: center;
    }
    #description{
        font-size:50px;
        text-align: center;
    }
</style>
<div id="div404">
    404
</div>
<div id="description">
    Die Seite konnte nicht gefunden werden.
</div>
