<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new user</h5>
                <button type="button" class="btn-close closeButton" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 shadow-sm">
                    <div class="col-sm-6">
                        <label for="validationServer01" class="form-label">Login name</label>
                        <input type="text" class="form-control" id="inputUserName" value="" required="">
                    </div>
                    <div class="col-sm-6">
                        <label for="validationServer02" class="form-label">Passwort</label>
                        <input type="text" class="form-control" id="inputUserPassword" value="" required="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeButton" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="dialogCreateButton" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
